
  <div class="drawer">
    <div class="container drawer-container">

      <div class="drawer__card">
        <div class="drawer__box">
          <div>
            <div class="drawer__percent">
              <svg class="svg">
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg >
              <div class="drawer__number">
                <h2 class="drawer__title">90 <span>%</span> </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="drawer__text">html</div>
      </div>

      <div class="drawer__card">
        <div class="drawer__box">
          <div>
            <div class="drawer__percent">
              <svg class="svg">
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="drawer__number">
                <h2 class="drawer__title">82<span>%</span> </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="drawer__text">css</div>
      </div>

      <div class="drawer__card">
        <div class="drawer__box">
          <div>
            <div class="drawer__percent">
              <svg class="svg">
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="drawer__number">
                <h2 class="drawer__title">60<span>%</span> </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="drawer__text">javaScript</div>
      </div>

    </div>
  </div>

