<header class="page-header">
  <div class="container">
    <div class="nav">
      <ul class="list-reset nav__list">
        <li class="nav__item active">
          <a href="#" class="nav__link">
            <span class="nav__icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="nav__text">Home</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            <span class="nav__icon">
              <ion-icon name="code-working-outline"></ion-icon>
            </span>
            <span class="nav__text">work</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            <span class="nav__icon">
              <ion-icon name="pricetags-outline"></ion-icon>
            </span>
            <span class="nav__text">price</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            <span class="nav__icon">
              <ion-icon name="build-outline"></ion-icon>
            </span>
            <span class="nav__text">tehnology</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            <span class="nav__icon">
              <ion-icon name="person-circle-outline"></ion-icon>
            </span>
            <span class="nav__text">profile</span>
          </a>
        </li>
        <div class="indicator"></div>
      </ul>
    </div>
  </div>
</header>
