<div class="hero">
  <div class="container">
    <div class="calc">
      <div class="calc__title">
        Введите значение
      </div>
      <div class="round__indikator">

      </div>
      <div class="calc__input">
        <label class="form-field form-field--gray post-form__field">
          <span class="form-field__caption">всего</span>
          <input type="text" name="name" required placeholder="6 500" class="form-field__input">
        </label>
        <label class="form-field form-field--gray post-form__field">
          <span class="form-field__caption">участки</span>
          <input type="number" name="name" required placeholder="4" class="form-field__input">
        </label>
        <div class="calc__title-another">Введите процентные соотношения шкалы</div>
        <div class="range__block">
          полоски
        </div>
        <div class="range__color">
          квадратики цвета
        </div>

        <button class="btn-reset">построить</button>
      </div>
    </div>
  </div>
</div>
